.catalogPage {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.catalogPageTitle {
    padding-top: 0rem;
    margin-bottom: 0.5rem;
    font-size: 3rem;
  }

.centered-text {
    text-align: center;
    margin: 0rem 1rem;
    max-width: 50rem;
}