#contact {
    width: 100vw;
    max-width: 60rem;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.centered-text {
    text-align: center;
    margin: 0rem 1rem;
    max-width: 50rem;
}


.contactPageTitle {
    padding-top: 0rem;
    margin-bottom: 0.5rem;
    font-size: 3rem;
}

.contactDescription {
    padding: 1rem;
    font-size: medium;
    font-weight: 300;
}

.contactForm {
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90vw;
    max-width: 60rem;
}

.name, .email, .msg {
    font-size: medium;
    width: 100%;
    max-width: 40rem;
    margin: 0.5rem;
    padding: 0.5rem 1rem;
    color: white;
    border: none;
    border-radius: 0.5rem;
    background:rgb(40, 40, 40);
}

.submitBtn {
    margin: 1rem 0;
    padding: 0.5rem 2.5rem;
    border: none;
    background:white;
    border-radius: 2rem;
    font-size: 1rem;
}



.links {
    display: flex;
    flex-wrap: wrap;
}

.link {
    object-fit: cover;
    height: 3rem;
    width: 3rem;
    margin: 0 0.75rem;
}
